*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto','Times New Roman', Times, serif;
    background-color: #000000;
}

/* hero */
.hero{
    background-color: #1f2937;
}
/* information */
.information{
    background-color: #ffffff;
    padding-bottom: 100px;
}
.information h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 25px 0px;
}
.fotos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.ilustration-container{
    width: 150px;
}
.foto{
    width: 150px;
    height: 150px;
    border: #3882f6 solid 3px;
    border-radius: 10px;
}
.foto-text{
    padding-top: 10px;
    font-size: 17px;
    text-align: center;
}

/* quote */
.quote{
    background-color: #e5e7eb;
}

/* signup */
.signup{
    background-color: #ffffff;
}

/*  footer */
.footer{
    background-color: #1f2937;
}